asyncio
falcon
falcon-auth
Flask
sanic; python_version >= '3.5'
aiohttp; python_version >= '3.5'
sonic182-json-validator==0.0.12
pytest==3.6.2
pytest-cov==2.5.1
pytest-mock==1.6.3
pylint==1.9.2
tox
django==2.2.13
