asyncio
falcon
falcon-auth
Flask
sanic; python_version >= '3.5'
aiohttp; python_version >= '3.5'
sonic182-json-validator
pytest
pytest-cov
pytest-mock
pylint
tox
django==1.11; python_version == '2.7'
django==2.2.13; python_version >= '3.5'
